.app{
  background: white;
  width: 100vw;
 height: 100vh;
 display: flex;
}
.app__left{
  flex: 0.30;
  overflow: hidden;
}
.app__right{
  flex: 1;
  overflow: hidden;
}
.sidebar{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
}
.sidebar__header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.sidebar__profile{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(236,240,241);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.6);
}
.sidebar__chats{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  background: white;
  flex: 0.95;
  overflow-y: scroll;
}
.sidebar__chats::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
.sidebar__chats > Button {
  text-transform: capitalize;
  width: 100%;
  font-size: 20px;
}
.sidebar__chatsLists{
  width: 100%;
}
.sidebarchat{
  display: flex;
  margin: 10px 20px;
  padding: 10px 15px;
  background: rgb(236,240,241);
  border-radius: 20px;
  cursor: pointer;
  transition: 100ms;
}
.sidebarchat:hover{
  background: rgb(217, 222, 223);
}
.sidebarchat__right{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.chats{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  background: white;
}
.chats__container{
  overflow: hidden;
  height: 100%;
  background: #ecf0f1;
  margin: 25px 30px;
  margin-left: 5px;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 1px rgb(0, 0, 0, 0.6);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.chats__chatHeader{
  flex: 0.15;
  /* background: aquamarine; */
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
.chats__chatsArea{
  flex: 1;
  /* background: blue; */
}
.chats__chatInput{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.1;
  /* background: blueviolet; */
}
.chats__chatInput > input{
  height: 27px;
  border: none;
  outline: none;
  margin: 10px 10px;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 20px;
  flex: 1;
}
.chats__chatsArea{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.chats__chatsArea::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
.login{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chats__messageDate{
  color:rgb(165, 165, 165);
  font-size: 10px;
  width: 100%;
  margin-top: 3px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.chats__messangerName{
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  font-size: 13px
}